Core/bin/Debug/net5.0/Core.deps.json
Core/bin/Debug/net5.0/Core.dll
Core/obj/Core.csproj.nuget.g.props
Core/bin/Debug/net5.0/Core.pdb
bin
obj
API/.DS_Store
API/wwwroot/.DS_Store
API/wwwroot/images/.DS_Store
.DS_Store
